.donation-container{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 500px;
}

.bg-don-card{
    background-color: rgba(6, 6, 6, 0.923);
}

.donate-with{
    font-size: xx-large;
    font-weight: 900;
}

.donation-card{
    width: 900px;
}

.donation-card-1{
    border-radius: 20px 0px 0px 20px;
}

.donation-card-2{
    border-radius: 0px 20px 20px 0px;
    color: black;
}

.strong-detail{
    font-weight: 800;
}

.charity-img{
    width: fit-content;
    border-radius: 20px 0px 0px 0px;
}

.allowance{
    display: flex;
    align-items: center;
}

.verified{
    margin: 3px;
    font-size: small;
    display: flex;
    align-items: center;
    font-weight: 800;
    border-radius: 20px;
    padding: 5px;
    padding-left: 6px;
    width: fit-content;
    color: #00FFA3;
}

.icon{
    display: flex;
    align-items: center;
    margin: 3px;
    font-weight: 800;
    background-color: greenyellow ;
    border: 3px solid greenyellow;
    border-radius: 20px;
    padding: 2px;
    width: fit-content;

}

.active{
    font-size: xx-small;
    font-weight: 800;
    color: black;
    width: fit-content;
    word-break: normal;
    margin: 5px;
    display: flex;
    text-align: center;
    background-color: greenyellow ;
    border: 3px solid greenyellow;
    border-radius: 20px;
    padding: 2px;
}

.inactive{
    font-size: xx-small;
    font-weight: 800;
    color: antiquewhite;
    width: fit-content;
    word-break: normal;
    margin: 5px;
    display: flex;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.75) ;
    border: 1px solid rgba(128, 128, 128, 0.569);
    border-radius: 20px;
    padding: 2px;
}

.active-money{
    font-size: small;
    font-weight: 800;
    color: black;
    width: fit-content;
    word-break: normal;
    margin: 15px;
    display: flex;
    text-align: center;
    background-color: turquoise ;
    border: 3px solid turquoise;
    border-radius: 20px;
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
}

.inactive-money{
    font-size: small;
    font-weight: 800;
    color: antiquewhite;
    width: fit-content;
    word-break: normal;
    margin: 15px;
    display: flex;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.75) ;
    border: 1px solid rgba(128, 128, 128, 0.569);
    border-radius: 20px;
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
}

.donation-card-btn{
    
    background: -webkit-linear-gradient(
        to top,
        #18a572,
        #12a670
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to top,
        #00FFA3,
        #12a670
      );
    padding: 12px 18px;
    border-radius: 3rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    -webkit-transition: .2s;
    transition: .2s;
    color: #000;
    font-size: 1rem;
    font-weight: 900 !important;
    letter-spacing: 0.2em;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    margin-top: 2em;
}

.donation-card-btn:hover{
    background: radial-gradient(70.64% 70.64% at 50% 25.87%, #2ba176 0%, #13de94 100%);
    transition-duration: .6s;
    padding: 16px 21px;
    letter-spacing: 0.4em;
    color: white;
}

.donation-process{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.donation-process > p{
    padding-top: 40px;
}

.ty-img{
    width: 180px;
    margin: auto;
}