.donation-card{
    width: 900px;
}

.donation-card-1{
    border-radius: 20px 0px 0px 20px;
}

.donation-card-2{
    border-radius: 0px 20px 20px 0px;
}

.charity-img{
    width: 350px;
    border-radius: 20px;
}

